    {%  extends "base.html" %}
{%  block content %}
    <h1> Quail</h1>
<p>Quail is ready to make you dance the night away. Based in Ithaca, New York, the eight piece band combines elements of Pop, R&B, Funk, and Rock styles in their music, which features a grooving rhythm section, fiery horn section, power vocals, and boogie-worthy arrangements.</p>
<p>Formed in November of 2018, Quail has gained a following around the Northeast. The Quail Trail gains more members everyday.</p>
<p>On November 14th 2019, Quail released their first single, "Blue Sky". The band is currently working on recording a full length studio album.</p>
{% endblock %}
